body{
  font-family: 'Fira Sans', sans-serif;
  background-color: #0D0308;
  color: #ffffff;
  margin-left: 3%;
  margin-right:3%;
  font-weight: 300;
}
img{
  max-width: 100%;
}

.intro h1, h2{
  font-weight: 300;
}

.my-logo{
  text-align: center;
  margin-top: 70%;
}
.intro{
  margin-top: 60%;
  padding-right: 10%;
  border-bottom: 2px solid #B2A6AC;
}


.projects{
  margin:0 1em 2em 1em;
}
.section h2{
  font-weight: 300;
  padding: 3em 0em 5em 0em;
}
.title{
  padding: 1em;
  text-align: center;
}
.card{
  border-radius: 3px;
  background-color: #454746;
  opacity: 0.8;
  padding: 0.5em;
  margin-bottom: 1.5em;
  color: #000;
}
.card:hover {
    background-color: #E2C72B;
    opacity: 1;
}
.collection-2{
  padding-bottom: 2em;
}

footer{
  border-top: 1px solid #B2A6AC;
  padding: 0 1em 2em 1em;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter, .fa-medium, .fa-github {
  color: #E2C72B;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


@media screen and (min-width:500px) and (max-width: 770px){
  body{
    margin-left: 10%;
    margin-right: 10%;
  }
  header{
    display: flex;
    width: 100%;
    padding-top: 3em;
 }
  .my-logo{
    text-align: left;
    margin-top: 0;
    padding-top: 2em;
    width: 20%;
  }
  .intro{
    margin-top: 0;
    text-align: right;
    padding: 2%;
    width: 80%;
  }
  .collection, .collection-2{
    display: flex;
    width: 100%;
    margin-right: 2em;
  }
  #project-1{
    width: 30%;
    margin-right: 1em;
    margin-bottom: 1.5em;
  }
  #project-3{
    width:30%;
    margin-bottom: 1.5em;
  }
  #project-2{
    width: 40%;
    margin-right: 1em;
    margin-bottom: 1.5em;
  }

  footer{
    border-top: 1px solid #B2A6AC;
    display: flex;
    max-width: 100%;
    padding-bottom: 3%;
    margin-top: 2%;
  }
  .footer-text{
    width: 70%;
    color: #675E5F;
    padding-top: 1%;
  }
  .social{
    width: 30%;
    display: flex;
    text-align: right;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
}

@media screen and (min-width:771px) {
  section{
    display:flex;
    padding-top: 4em;
  }
  .title{
    width: 20%;
  }
  .projects{
    width: 80%;
  }
  body{
    margin-left: 10%;
    margin-right: 10%;
  }
  header{
    display: flex;
    width: 100%;
    padding-top: 3em;
 }
  .my-logo{
    text-align: left;
    margin-top: 0;
    padding-top: 2em;
    width: 20%;
  }
  .intro{
    margin-top: 0;
    text-align: right;
    padding: 2%;
    width: 80%;
  }
  .collection, .collection-2{
    display: flex;
    width: 100%;
    margin-right: 2em;
  }
  #project-1, #project-3 {
    width: 30%;
  }
  #project-2{
    width: 40%;
  }
  .card{
    margin-left: 1em;
    margin-bottom: 1.5em;
  }
  footer{
    border-top: 1px solid #B2A6AC;
    display: flex;
    max-width: 100%;
    padding-bottom: 3%;
    margin-top: 2%;
  }
  .footer-text{
    width: 80%;
    color: #675E5F;
    padding-top: 1%;
  }
  .social{
    width: 20%;
    display: flex;
    text-align: right;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
}
