body{
  font-family: 'Fira Sans', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #0D0308;
  color: #ffffff;
}

header{
  display: flex;
  max-width: 100%;
  padding-top: 4%;
}

.logo, .title{
  width: 20%;
  text-align: left;
}
.logo img{
  text-align: center;
}

.intro{
  width: 80%;
  text-align: right;
  border-bottom: 2px solid #B2A6AC;
  font-weight: lighter;
}

section{
  display: flex;
  max-width: 100%;
  margin: 2em 0em 2em 0em;
}

.collection{
  width: 80%;
}

.projects{
  display: flex;
  max-width: 100%;
  flex-item:order;
}

#project-1, #project-3 {
  width: 30%;
}

#project-2{
  width: 40%;
}

.card img{
  width: 100%;
  height:10em;
  border-radius: 3px;
}
.card {
  border-radius: 3px;
  background-color: #454746;
  opacity: 0.8;
  padding: 1%;
  width: 50%;
  height:50%;
  margin-left: 1em;
  margin-bottom: 1.5em;
  color: #000;
  /*box-shadow: 1px 1px 10px #C3C7C4;*/
}
.card:hover {
    background-color: #E2C72B;
    opacity: 1;
}

footer{
  border-top: 1px solid #B2A6AC;
  display: flex;
  max-width: 100%;
  padding-bottom: 3%;
  margin-top: 2%;
}
.footer-text{
  width: 80%;
  color: #675E5F;
  padding-top: 1%;
}
.social{
  width: 20%;
  display: flex;
  text-align: right;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter, .fa-medium, .fa-github {
  color: #E2C72B;
}
